<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer</title>
</head>

<body>
    <h1>To Upload Image on mongoDB</h1>
    <hr>
    <center>
        <pre>
            <form action="/post" method="POST" enctype="multipart/form-data">
                <label><b>Descrição</b></label>
                <input type="text" name="desc1" placeholder="adicione a descrição">

                <label><b>Descrição 2</b></label>
                <input type="text" name="desc2" placeholder="adicione a segunda descrição">

                <label for="image">Upload Imagem</label>
                <input type="file" name="image" placeholder="adicione a imagem">

                <label><b></b>Alternativa A</label>
                <input type="text" name="alternative1" placeholder="adicione a alternativa A">

                <label><b></b>Alternativa B</label>
                <input type="text" name="alternative2" placeholder="adicione a alternativa B">

                <label><b></b>Alternativa C</label>
                <input type="text" name="alternative3" placeholder="adicione a alernativa C'">

                <label><b></b>Alternativa D</label>
                <input type="text" name="alternative4" placeholder="adicione a alternativa D">

                <label><b></b>Alternativa Correta</label>
                <input type="text" name="answer" placeholder="adicione a alternativa correta, A,B, C OU D">

                <button type="submit">Save</button>
            </form>
        </pre>>
    </center>
</body>

</html>