<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <center>
        <h1>posts</h1>
        <table border="1">
            <tr>
                <th>Descrição1</th>
                <th>Descrição2</th>
                <th>Imagem</th>
                <th>Alternativa1</th>
                <th>Alternativa2</th>
                <th>Alternativa3</th>
                <th>Alternativa4</th>
                <th>Resposta Correta</th>
            </tr>
        </table>
    </center>
</body>
</html>